* {
    box-sizing: border-box;
padding: 0;
margin: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Styling header */

header {
    padding: 20px 20px;
    background: rgb(211, 138, 253);
    color: seashell;
    display: flex;
    justify-content: space-between ;
    flex-wrap: wrap;
    background-position: center;
    background-attachment: fixed;
    background-position: 50%;
    font-size: large;
}
header div{
    margin: 1px;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
}
header div ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: right;
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    margin-left: 300px;
    
}

header div ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 25px;
    color: seashell;
}

footer{
    background-color: rgb(211, 138, 253);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 35px;
    text-align: center;
}
footer h2{
    color: seashell;
    font-size: 30px;
    margin: 0;
    font-family: cursive;
}

/* hero */

img{
    width: 150px;
    height: 200px;
    
}

.float-left {
    float: left;
}


section {
   background-image: url(./Images/pink\ bricks.jpg);
   }


.content {
width: 60%;
display: inline-block;
margin-left: 20px;
}


.about-me {
    margin-bottom: 25px;
    padding: 40px;
    height: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    font-size: 20px;
    border-radius: 3%;
    color: skyblue;

}

.work-done{
    margin: 30px;
    padding: 20px;
    float: right;
    width: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    background-color: white;
    border-radius: 3%;
    flex-direction: column;
}

.my-work {
margin-bottom: 25px;
padding: 50px;
height: 380px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: white
font-size: 20px;
}


.contact-info {
    margin-bottom: 25px;
    width: 60%;
    padding: 50px;
    height: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    font-size: 20px;
    border-radius: 3%;
    color: skyblue;

}

a {
    color: skyblue;
    font-size: 20px;
}

section div ul li {
    display: inline-block;
    margin-left: 50px;
    text-align: left;

}

.contact-me{
    border-radius: 3%;
}
.contact-me img {
    display: block;
    margin: 1px 1px 1px 1px;
    width: 40px;
    height: 40px;

}
/* Container holding the image and the text*/

.flex-item {
    position: relative;
    padding-top: 5px;
    color: skyblue;
}

.flex-item img{
    width: 350px;
    height: 150px;
}



/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width:980px) {
    /* this will be applied on any screen smaller than 980px */

    header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }
    
    header h1 {
        width: 100%;
        text-align: left;
    }

    header div ul li a {
      font-size: 10px;
      text-align: left;
    }

    .about-me{
        justify-content: center;
        text-align: right;
        width: 150%;
        height: 90%;
        font-size: 10px;
    }
    section {
        padding:30px 15px;
        flex: 0 70%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;

    }

    .work-done{
        padding: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 90%;
    }
.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 60%;
}

a {
    color: skyblue;
    font-size: 10px;
   justify-content: space-evenly;
}


.flex-item img {
    width: 100%;
    height: 60%;
}

section div ul li {
    display: inline-block;
    margin-left: 20px;
    text-align: left;
}

footer {
    width: 100%;
}
    
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width:768px) {
 /* this will be applied on any screen between 768px and 575px */  
 header {
     padding-bottom: 0;
    justify-content: center;
 }

 .flex-item {
     align-content: center;
 }
 
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen  and (max-wdth:575px) {
    /* this will be applied on any screen smaller than 575px */
 
}